In [8]:
from pandas import DataFrame, Series

In [9]:
dates = pd.date_range('2018-07-01','2019-07-01',freq='M')

In [10]:
dates

DatetimeIndex(['2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31',
               '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28',
               '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30'],
              dtype='datetime64[ns]', freq='M')

In [12]:
b = Series([21,23,65,32,54,32,54,65,54,23,25,24], index=dates)

In [19]:
result = DataFrame({"Midterm": [21,54,87,65,98,4], "Finals": [25,22,12,12,22,4]})

In [20]:
result

   Midterm  Finals
0       21      25
1       54      22
2       87      12
3       65      12
4       98      22
5        4       4

In [21]:
diff = result.Midterm - result.Finals

In [22]:
result["difference"] = diff

In [23]:
result

   Midterm  Finals  difference
0       21      25          -4
1       54      22          32
2       87      12          75
3       65      12          53
4       98      22          76
5        4       4           0

In [24]:
result.columns

Index(['Midterm', 'Finals', 'difference'], dtype='object')

In [25]:
result.ndim

2

In [32]:
result.Midterm[result.Midterm > 60]

2    87
3    65
4    98
Name: Midterm, dtype: int64

In [31]:
result.Midterm

0    21
1    54
2    87
3    65
4    98
5     4
Name: Midterm, dtype: int64